/* @font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  } */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  text-align: center; 
  box-shadow: 0px 0px 14px 2px rgba(34, 60, 80, 0.2);
}

a {
  text-decoration: none;
}

.main-header {
  min-height: 565px;
  background-image: url("../img/background.jpg");
  background-position: center top; 
  background-repeat: no-repeat;
  margin-bottom: 60px;
}

.inner-header {
  background-color: #ffffff;
}

.main-navigation {
  background-color: #fff;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: black; 
}
.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  margin: 0;
  padding: 0px 70px;
  list-style: none;
}

.site-navigation li:nth-child(3){
  align-self: flex-start;
  min-height: 70px; 
}

.site-navigation a {
  color: black;
}

.site-navigation a:hover {
  color: #92bdd8;
}

.site-navigation a:active {
color: #bcbcbc;
}

.main-header-logo{
  width: 138px;
  margin-left:-25px;
}

.intro {
  margin-bottom: 50px;
}

.intro p {
  padding-bottom: 5px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.1px;
}

.intro span {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1px;
}
  
.features-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}  

.feature-item-img {
  display: flex;
  width: 1200px;
  min-height: 256px;
  margin: 0;
  padding: 0;
  background-color: #81b3d2;
  color: white;
}

.wrap-item {
  align-items: center;
  padding-top: 28px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 0;
  line-height: 21px;
}

.wrap-item h3 {
  font-size: 21px;
}

.wrap-item p {
  width: 280px;
}

.feature-item {
  min-height: 256px;
  background-color: #eeeeee;
}

.feature-item h3 {
  font-size: 21px;
} 

.more-features {
  display: flex;
  min-height: 330px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.more-features-item {
  background-color: #ffffff;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 0;
}

.hotel-search {
  padding-top: 26px;
  text-align: center;
}

.hotel-desc {
  margin-bottom: 45px;
}

.hotel-desc h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
}

.search-container {
  position: relative;
}

.search-container a {
  display: inline-block;
  padding-top: 30px;
  width: 570px;
  height: 56px;
  vertical-align: middle;
  font-size: 21px;
  line-height: 1.238;
  font-weight: 700;
  background-color: #766357;
  color: white;
} 

.search-container a:hover,
.search-container a:focus {
  background-color: #604e43;
}

.search-container a:active {
  background-color: #503e33;
  color: #857871;
}

.hotel-search-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top:86px;
  left: 315px;
  z-index: 1;

  margin: 0;
  padding: 45px 60px;
  
  width: 570px;
  min-height: 285px;
  background-color: white;
  font-weight: 700;
  text-align: left;
}

.hotel-search-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.hotel-search-item label,
.hotel-search-item-min label {
  padding-right: 20px;
} 

.hotel-search-item-min:nth-child(1) label  {
  padding-right: 42px;
}


.hotel-search-item input {
  width: 320px;
  height: 34px;
  padding-left: 10px;
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.hotel-search-item input:hover,
.hotel-search-item-min input:hover {
  background-color: #ebebeb;
}

.hotel-search-item input:focus,
.hotel-search-item-min input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.numbers {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.hotel-search-item-min input {
  position: relative;
  width: 112px;
  height: 34px;
  padding-left: 10px;
  font: inherit;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

/* .hotel-search-item-min::before {
  content: "";
  position: absolute;
  top: 210px;
  left: 190px;
  width: 15px;
  height: 15px;
  background-image: url("../svg/minus.svg");
  background-color: #ff0000;
  background-repeat: no-repeat;
  background-position: 0 0;
  
} */


.button {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 16px 17px;
  font: inherit;
  font-size: 21px;
  line-height: 1.238;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.main-footer {
  display: flex;
  align-items: center;
  min-height: 120px;
  margin-top: -125px;
  padding: 10px 73px;
  background-color: #fdfdfd;
  opacity: 0.9;
  min-height: 100px;
}

.footer-hashtag {
  width: 240px;
  margin-right: 212px;
  font-size: 21px;
  line-height: 1.238;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.footer-social {
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 150px;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button i {
  color:#ffffff;
  font-size: 20px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  width: 240px;
  margin-left: auto;
}

.footer-copyright p {
  display: inline-block;
  vertical-align: center;
  margin-right: 10px;
}

/* Форма поиска */

.filters {
  padding: 25px 73px 0;
  background-color: rgb(61, 84, 211);
  background-image: url("../img/background-inner.jpg");
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  text-align: left;
}

.filter {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0; 
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-right: 40px;
  border: none;
}

.filter-option {
  margin-bottom: 25px;
  list-style: none;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #ffffff;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -38px;
  width: 12px;
  height: 12px;
  background-image: url("../svg/check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

legend {
  margin-bottom: 20px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.313;
  text-align: left;
}

.infrastructure {
  width: 200px;
}

.type {
  width: 200px;
}

/* Ползунок стоимости */

.filter-range {
  width: 330px;
  margin-left: auto;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

/* Результаты поиска сортировка*/

.menu-searching-results {
  display: flex;
  justify-content: start;
  align-items: baseline;
 
  padding: 10px 73px;
}

.menu-searching-results p {
  margin: 0;
  margin-left:40px;
  font-weight: 700;
}


.searching-navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; 
}

.searching-navigation li {
  position: relative;
  margin-left: 30px;
}

.searching-navigation a {
  color: #b1b1b1;
  border-bottom: 1px dotted #81b3d2 ;
}

li .current {
  border: none;
  color: #81b3d2;
}

/* .top::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-image: url(../svg/check2.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
} */

/* Результаты поиска*/

.searching-results {
  display: flex;
  flex-direction: column;
  
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  border-top: 1px solid #b1b1b1;
}

.catalog-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 73px 20px 240px;
  
  border-bottom: 1px solid #b1b1b1;
}

.catalog-item img {
  position: absolute;
  top: 30px;
  left: 73px;
}

.catalog-wrap {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;

}

.catalog-wrap h3 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 21px;
  color: #000000;
}

.price {
  padding-right: 90px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}


.button-wrap {
  margin-top: 10px;
  padding: 0;
}

.inner {
  margin: 0;
  font-size: 14px;
  
  margin-right: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.inner-brown {
  margin: 0;
  font-size: 14px;
  
  background-color: #766357;
  padding-top: 6px;
  padding-bottom: 6px;
}

.inner-brown:hover,
.inner-brown:focus {
  background-color: #604e43;
}

.inner-brown:active {
  color: #857871;
  background-color: #503e33;
}

.rate {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}

.stars {
  display: flex;
  justify-content: end;
  margin-bottom: 50px;
  margin-left: auto;
}

.stars p {
  width: 18px;
  height: 18px;
  margin: 0;
  margin-left: 5px;
  background-image: url(../svg/star.svg);
  background-position: left center; 
  background-repeat: no-repeat;
}

.rate b {
  padding-left: 14px;
  padding-right: 14px;
  font-weight: 400;
  line-height: 28px;
  background-color: #f2f2f2;
}

/* Подвал внутренняя страница*/

.inner-footer {
  display: flex;
  align-items: center;
  min-height: 120px;
  padding: 10px 73px;
  background-color: #fdfdfd;
  opacity: 0.9;
  min-height: 100px;
}
