/* @font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  } */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  text-align: center; 
  box-shadow: 0px 0px 14px 2px rgba(34, 60, 80, 0.2);
}

a {
  text-decoration: none;
}

.main-header {
  height: 565px;
  background-image: url("../img/background.jpg");
  background-position: center top; 
  background-repeat: no-repeat;
  margin-bottom: 60px;
}
.main-navigation {
  height: 56px;
  background-color: #fff;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: black; 
}
.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  margin: 0;
  padding: 0px 70px;
  list-style: none;
}

.site-navigation li:nth-child(3){
  align-self: flex-start;
  height: 70px; 
}

.site-navigation a {
  color: black;
}

.site-navigation a:hover {
  color: #92bdd8;
}

.site-navigation a:active {
color: #bcbcbc;
}

.main-header-logo{
  width: 138px;
  margin-left:-25px;
}

.intro {
  margin-bottom: 50px;
}

.intro p {
  padding-bottom: 5px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.1px;
}

.intro span {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1px;
}
  
.features-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}  

.feature-item-img {
  display: flex;
  width: 1200px;
  min-height: 256px;
  margin: 0;
  padding: 0;
  background-color: #81b3d2;
  color: white;
}

.wrap-item {
  align-items: center;
  padding-top: 28px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 0;
  line-height: 21px;
}

.wrap-item h3 {
  font-size: 21px;
}

.wrap-item p {
  width: 280px;
}

.feature-item {
  min-height: 256px;
  background-color: #eeeeee;
}

.feature-item h3 {
  font-size: 21px;
} 

.more-features {
  display: flex;
  min-height: 330px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.more-features-item {
  background-color: #ffffff;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 0;
}

.hotel-search {
  padding-top: 26px;
  text-align: center;
}

.hotel-desc {
  margin-bottom: 45px;
}

.hotel-desc h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
}

.search-container {
  position: relative;
}

.search-container a {
  display: inline-block;
  padding-top: 30px;
  width: 570px;
  height: 56px;
  vertical-align: middle;
  font-size: 21px;
  line-height: 1.238;
  font-weight: 600;
  background-color: #604e43;
  color: white;
} 

.search-container a:active {
  background-color: #503e33;
  color: #857871;
  font-weight: 700;
}

.hotel-search-form {
  position: absolute;
  top:86px;
  left: 315px;
  z-index: 1;

  margin: 0;
  padding: 55px 65px;
  width:440px;
  height: 285px;
  background-color: white;
  font: inherit;
  font-weight: 600;
  text-align: left;
}










.button {
  font: inherit;
  display: inline-block;
  margin-top: 40px;
  padding: 16px 195px;

  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: #88b6d1;
}







